Package: love.litten.libkitten
Name: libKitten 🐱
Depends: firmware (>= 12.0)
Version: 1.3.2
Architecture: iphoneos-arm
Description: Library to get three different colors from an image and detect if one is light or dark
Maintainer: cluda
Author: cluda
Section: System
Tag: role::developer
